<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CCJ_QAQC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="CCJ_QAQC.Properties.Settings.TxDataConnectionString"
      connectionString="Data Source=MILK;Initial Catalog=CCJ2;Persist Security Info=True;User ID=PrescripSys"
      providerName="System.Data.SqlClient" />
    <add name="CCJ_QAQC.Properties.Settings.ConnectionStringMILK"
      connectionString="Data Source=MILK;Initial Catalog=CCJ2;Persist Security Info=True;User ID=PrescripSys"
      providerName="System.Data.SqlClient" />
    <add name="CCJ_QAQC.Properties.Settings.ConnectionStringHP8100"
      connectionString="Data Source=MILK;Initial Catalog=CCJ2;Persist Security Info=True;User ID=PrescripSys"
      providerName="System.Data.SqlClient" />
    <add name="CCJ_QAQC.Properties.Settings.CCJQAQCConnectionString"
      connectionString="Data Source=MILK;Initial Catalog=CCJ2;Persist Security Info=True;User ID=PrescripSys"
      providerName="System.Data.SqlClient" />
    <add name="CCJ2EntitiesMILK" connectionString="metadata=res://*/MILK_原料検査ワークシート.csdl|res://*/MILK_原料検査ワークシート.ssdl|res://*/MILK_原料検査ワークシート.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MILK;initial catalog=CCJ2;persist security info=True;user id=PrescripSys;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <CCJ_QAQC.Properties.Settings>
      <setting name="ApplicationName" serializeAs="String">
        <value>ケミ・コム・ジャパン　品質保証部・品質管理部向けシステム</value>
      </setting>
      <setting name="Version" serializeAs="String">
        <value>0.1 Preview</value>
      </setting>
      <setting name="ModifyDate" serializeAs="String">
        <value>2014/1/15</value>
      </setting>
    </CCJ_QAQC.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>